# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Hardhat cache & artifacts
cache/
artifacts/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
build/
dist/

# Dependency directories
.DS_Store
.idea/
.vscode/
.vscode-test/

# Hardhat files
typechain/
coverage/
coverage.json
coverage-final.json
lcov-report/

# Remix backup files
backup/
*.swp
*.tmp

# Ignore Hardhat's .solhint.json file
.solhint.json

# Etherscan verification files
etherscan-submit-list.json

# Tailwind CSS
tailwind.config.js

# MacOS and Windows specific files
Thumbs.db
ehthumbs.db
.DS_Store
Desktop.ini
$RECYCLE.BIN/

# Local Ethereum node data
ganache-db/
ganache-cli-db/
truffle-db/

# Ignore IDE and OS-specific files
*.sublime-workspace
*.sublime-project
*.code-workspace

# npm package lock files for different package managers
package-lock.json
yarn.lock
.pnpm-lock.yaml
